<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc9Yxc1KsdWjI8VNji5b0ZgQ9OJ_hJoD0</string>
	<key>GCM_SENDER_ID</key>
	<string>670863775645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fet</string>
	<key>PROJECT_ID</key>
	<string>food-expiry-tracker-f807e</string>
	<key>STORAGE_BUCKET</key>
	<string>food-expiry-tracker-f807e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670863775645:ios:f08647eef86652b5558174</string>
</dict>
</plist>